@model BE.Core.Post

@{
	<article itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">

		<div class="post__content-wrapper">

			<p class="post__content-meta-date">
				@Model.PubDate.ToLongDateString()
			</p>

			<h1>@Model.Title</h1>

			<div class="post__excerpt">
				@Model.Excerpt
			</div>

			@if (Model.PostHasCoverPhoto())
			{
				<div class="content__shadow-bottom">
					<img src="@ViewHelpers.GetPostCoverImage(Model.ImageFolder.Name, Model.PostCoverPhoto)" class="post__header-cover" />
				</div>

			}

			<div itemprop="articleBody mainEntityOfPage">

				<div class="post_content-content">
					<div id="content__unparsed" style="display:none!important;">
						@Html.Raw(@Model.Content)
					</div>
					<div id="parsed__target"></div>

				</div>
			</div>
		</div>

		<div class="post__tags-wrapper">
			<h1>Tags</h1>
			@if (Model.Tags.Any())
			{
				@foreach (var tag in Model.Tags)
				{
					<a asp-page="/tag/index" asp-route-tag="@tag.TagNameEncoded">@tag.TagName</a>
				}
			}

		</div>

	</article>

}
