@page "{pageIndex:int?}"
@model BE.Web.Pages.Admin.AllPostsModel
@{
	ViewData["Title"] = "All Posts";
}

<section id="all__posts" class="section">
    <div class="allposts__wrap container flex">
        <table class="table table__middle">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Pub Date</th>
                    <th>Published</th>
                    <th>Modified</th>
                    <th>Cover Photo</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Posts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @ViewHelpers.Truncate(item.Title, 30)
                            <span data-text="@item.Title" class="tooltip">  ...</span>
                        </td>
                        <td>
                            @item.PubDate.ToShortDateString()
                        </td>
                        <td>
                            @item.IsPublished
                        </td>
                        <td>
                            @item.LastModified.ToShortDateString()
                        </td>
                        <td>
                            @{
                                if (!string.IsNullOrEmpty(item.PostCoverPhoto))
                                {
                                    <div class="table__photo-wrap">
                                        <img src="@ViewHelpers.GetPostCoverImage(@item.ImageFolder.Name, item.PostCoverPhoto)" height="192" />
                                    </div>
                                }
                                else
                                {
                                    <div class="table__photo-wrap">
                                        <img src="~/img/assets/photo-icon-white.png" width="100%" class="blog__no-cover">
                                    </div>
                                }
                            }
                        </td>
                        <td>
                            <div class="table__actions-wrap">
                                <a class="btn btn__small" asp-page="/admin/postdetails" asp-route-id="@item.Id">Details</a>
                                <a class="btn btn__small" asp-page="/admin/editpost" asp-route-id="@item.Id">
                                    Edit
                                </a>
                                <button class="btn danger btn__small">Delete</button>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

        <div class="allposts__pagination-wrap">
            <ul class="pagination flex">
                @{
                    // Current page should never go below 1
                    if (Model.Posts.CurrentPage > 1)
                    {
                        var currentPage = (Model.Posts.CurrentPage);
                        <li class="page-item">
                            <a class="page-item active" asp-page="/admin/allposts" asp-route-pageIndex="@currentPage--">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item  disabled">
                            <span aria-hidden="true">&laquo;</span>
                        </li>
                    }
                }

                @for (int i = Model.Posts.CurrentPage - 3; i < Model.Posts.CurrentPage + 3; i++)
                {
                    if (i > 0 && i <= Model.Posts.TotalPages)
                    {
                        //  set active page
                        if (i == Model.Posts.CurrentPage)
                        {
                            <a class="page-item active" asp-page="/admin/allposts" asp-route-pageIndex="@i">@i</a>
                        }
                        else
                        {
                            <a class="page-item" asp-page="/admin/allposts" asp-route-pageIndex="@i">@i</a>
                        }
                    }
                }
                @if (Model.Posts.CurrentPage < Model.Posts.TotalPages)
                {
                    // so long as current page <= total pages
                    var nextage = Model.Posts.CurrentPage;
                    nextage++;
                    <li class="page-item">
                        <a class="page-item" asp-page="/admin/allposts" asp-route-pageIndex="@nextage">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <div class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </div>
                    </li>
                }
            </ul>
        </div>



    </div>
</section>

@section Scripts{
    <script type="text/javascript">
    </script>
}