@page "{id}"
@model BE.Web.Pages.Admin.EditCoverPhotoModel
@{
	ViewData["Title"] = $"Edit Cover Photo For: {Model.EditCoverPhotoVM.PostTitle}";
}

<section class="section">
	<div class="container">
		@{
			//	if folder name is not null
			if (!string.IsNullOrEmpty(Model.EditCoverPhotoVM.PostFolderName) && !string.IsNullOrEmpty(Model.EditCoverPhotoVM.CoverPhoto))
			{
			//	this is an coverphot update
				<h3 class="section__label">Current Image</h3>
				<img src="@ViewHelpers.GetPostCoverImage(Model.EditCoverPhotoVM.PostFolderName, Model.EditCoverPhotoVM.CoverPhoto)" class="add-box-shadow add-rounded-corners" />
				<form id="form_edit_cover" method="post" enctype="multipart/form-data">
					<input type="hidden" asp-for="@Model.EditCoverPhotoVM.PostId" />
					<fieldset class="field__set">
						<div class="form__margin">
							<input id="EditCoverPhotoVM_PostCover" value="Change Cover Photo" name="PostCover" class="form__input" type="file" aria-label="file upload" />
							<span class="form__info">1280px / 800px recommended</span>
						</div>
					</fieldset>
					<div class="form__margin">
						<div class="form___actionbuttons-row flex">
							<input type="submit" valuse="SUBMIT" class="btn btn__default form__button" />
							<a class="btn danger btn__default form__button" asp-page="/admin/deletecoverphoto" asp-route-id="@Model.EditCoverPhotoVM.PostId">
								DELETE
							</a>
						</div>
					</div>
				</form>
			}
			else
			{
			//	This is a new cover photo
				<img src="@ViewHelpers.GetPostCoverImage(Model.EditCoverPhotoVM.PostFolderName, Model.EditCoverPhotoVM.CoverPhoto)" class="add-box-shadow add-rounded-corners" />
				<form id="form_edit_cover" method="post" enctype="multipart/form-data">
					<span class="form__info-text">Add a new cover photo for this post.</span>
					<input type="hidden" asp-for="@Model.EditCoverPhotoVM.PostId" />
					<fieldset class="field__set">
						<div class="form__margin">
							<input id="EditCoverPhotoVM_PostCover" value="Change Cover Photo" name="PostCover" class="form__input" type="file" aria-label="file upload" />
							<span class="form__info">1280px / 800px recommended</span>
						</div>
					</fieldset>
					<div class="form__margin">
						<div class="form___actionbuttons-row flex">
							<input type="submit" valuse="SUBMIT" class="btn btn__default form__button" />
							<a class="btn danger btn__default form__button" asp-page="/admin/deletecoverphoto" asp-route-id="@Model.EditCoverPhotoVM.PostId">
								DELETE
							</a>
						</div>
					</div>
				</form>
			}
		}
	</div>
</section>